/* game board table */
h1 {
  text-align: center;
  padding: 10px 0 0 0;
  color: white;
  margin: 0;
}
h4 {
  color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
}
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
}
#board {
  margin: 0 auto;
  padding: 15px 0 0 0;
}
.button-container {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 3px;
  background-color: #484e52;
  color: #e3cdb3;
}
/* pieces are div within game table cells: draw as colored circles */

.piece {
  /*? TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  animation-duration: 0.3s;
  animation-name: dropping;
}
@keyframes dropping {
  from {
    top: -75px;
  }
  to {
    top: 0px;
  }
}

/*? TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background-color: red;
}
.p2 {
  background-color: blue;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
  background-color: #111f28;
  color: white;
  font-size: 0.75rem;
  text-align: center;
  border-radius: 50%;
}

#column-top td:hover {
  background-color: rgb(91, 94, 131);
}
/* set background color of playing board not the header row*/
tr:not(#column-top) {
  background-color: #e3cdb3;
}
#controls {
  height: 18vh;
  background-color: lightslategrey;
}
#game {
  background-color: #afb9c5;
  height: 80vh;
}
.banner {
  visibility: hidden;
}
